[submodule "themes"]
	path = themes
	url = https://github.com/F-TD5X/F-TD5X.github.io.git 
	branch = theme
[submodule "source"]
	path = source
	url = https://github.com/F-TD5X/F-TD5X.github.io.git 
	branch = source
